
*.rs linguist-language=Rust
*.toml linguist-language=Rust


*.md linguist-documentation
README.md linguist-documentation


generated/* linguist-generated=true


docker/* linguist-vendored=true
docker/reports/*.html linguist-generated=true
docker/reports/*.json linguist-generated=true
LICENSE* linguist-documentation
